
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #5d40ff;">
  <a class="navbar-brand"
     href="#">My Manga</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Catalog
        </a>
        <div class="dropdown-menu"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
             routerLink="/catalog-manga">Manga</a>
          <a class="dropdown-item"
             routerLink="/catalog-manhwa">Manhwa</a>
          <a class="dropdown-item"
             routerLink="/catalog-manhua">Manhua</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             href='target="_self"'>Random title</a>
        </div>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0"
                type="submit">Search
        </button>
      </form>
    </ul>
    <a class="nav-item nav-link"
       routerLink="/login"
       *ngIf="!currentUser">Login</a>
    <a class="nav-item nav-link"
       routerLink="/register"
       *ngIf="!currentUser">Registration</a>
    <a class="nav-item nav-link"
       *ngIf="currentUser"
       (click)="logout(currentUser.id)"><img class="pencil"
                                             src="{{imgLogoutPath}}"></a>
    <a class="nav-item nav-link"
       routerLink="/add-title"><button class="btn"
                                      style="background-color: transparent ;"
                                      *ngIf="currentUser"><img class="pencil"
                                                               src="{{imgPencilPath}}"></button></a>
    <button class="btn"
            style="background-color: transparent ;"
            (click)="changeStyle()"><img class="sun"
                                         src="{{imgPath}}"></button>

    <a class="nav-item nav-link"
       routerLink="/profile"><button class="btn"
                                     style="background-color: transparent ;"
                                     *ngIf="currentUser"><img class="profileIcon"
                                                              src="{{imgIconPath}}"></button></a>

  </div>
</nav>
<script>

</script>

<!-- main app container -->

<div class="container">

  <app-alert></app-alert>
  <router-outlet></router-outlet>

</div>


